:root{
--ff-heading: 'Oswald', sans-serif;
--ff-body: 'Roboto', sans-serif;
--clr-primary-400:hsl(51 97% 47%);
--clr-neutral-900 :hsl(0 0% 0%);
--clr-neutral-100:hsl(0 0% 100%);
--fs-xl:clamp(3rem, 1rem + 10vw, 10rem);
--fs-600:2rem;
--fs-500:1.5rem;
--fs-400:1.125rem;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
blockquote{
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
}
.flow >* + *{
  margin-top: .8em;
}
body{
  line-height: 1.6;
  font-family: var(--ff-body);
  font-size: var(--clr-primary-400);
}
h1,
blockquote{
  font-family: var(--ff-heading);
  font-weight: 900;
}
h1{
  font-size: var(--fs-xl);
 line-height: 1;
  text-transform: uppercase;
  
}
article{
  display: grid;
}
@media (min-width:50em){
article{
  grid-template-columns: min(40%, 40rem) 1fr;
}
article > *:not(img){
  grid-column: 2 / -1;
}
article > img{
  grid-row: 1 / 4;
  height: 100%;
object-fit: cover;
}
}
article > *:not(img){
padding: 0 2rem;
}
.article-body{
  columns: 2 30ch;
  gap:4rem;
  max-width: 100ch;
  column-rule: 2px solid red;
}
.lead{
  font-size: var(--fs-500);
 max-width: 40ch;
}
blockquote{
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}
blockquote::before{
  content: open-quote;
}
blockquote::after{
  content: close-quote;
}
.article-body > p:first-child::first-letter{
  font-size: 4rem;
  float: left;
 
  display: block;
}